In [6]:
import os
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
REPORTS_DIR = "/s/ls4/users/grartem/RL_robots/CommandClassifier/models/"

In [8]:
table = []
for experimentName in ["rubert_tiny_multilabel", "rubert_tiny2_multilabel", "rubert_tiny2_multilabel_useY",
                       "MyMultiTiny2", "rubert_tiny2_multilabel_noYno0", "MyMultiTiny2_data2", "MyMultiTiny2_data3", "MyMultiTiny2_data3v2",
                      "MyMultiMLangBert_data3", "MyMultiMLangBert_data3v2", 
                       "MyMultiTiny2_data4", "MyMultiTiny2_weightbalance_data4", "MyMultiRubert_data4"]:
    table.append({
            "experiment": experimentName,
        })
    for fold_i in range(5):
        if not os.path.exists(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report.json".format(10))):
            continue
        with open(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report.json".format(10)), "r") as f:
            report = json.load(f)
        table[-1]["fold_{}".format(fold_i)] = np.round(100*report['correct_samples_perc'], 2)
table_df = pd.DataFrame(table)
table_df["avg"] = table_df.mean(axis=1)
table_df

,experiment,fold_0,fold_1,fold_2,fold_3,fold_4,avg
0,rubert_tiny_multilabel,32.58,43.94,48.86,28.52,30.42,36.864000
1,rubert_tiny2_multilabel,77.65,68.94,79.92,67.68,47.53,68.344000
2,rubert_tiny2_multilabel_useY,85.23,93.56,89.77,84.03,79.85,86.488000
3,MyMultiTiny2,82.95,92.05,88.64,85.17,78.33,85.428000
4,rubert_tiny2_multilabel_noYno0,79.55,83.33,84.09,76.43,71.86,79.052000
5,MyMultiTiny2_data2,25.86,23.28,24.43,23.66,16.41,22.728000
6,MyMultiTiny2_data3,81.82,89.77,86.74,84.79,76.05,83.834000
7,MyMultiTiny2_data3v2,81.82,90.15,85.98,84.79,78.33,84.214000
8,MyMultiMLangBert_data3,78.79,85.98,81.44,76.05,NaN,80.565000
9,MyMultiMLangBert_data3v2,81.82,86.36,NaN,NaN,63.88,77.353333
10,MyMultiTiny2_data4,82.20,89.39,85.61,84.41,78.71,84.064000
11,MyMultiTiny2_weightbalance_data4,82.58,90.15,87.50,85.17,78.33,84.746000
12,MyMultiRubert_data4,84.47,86.74,85.98,82.51,NaN,84.925000

In [8]:
# Если не смотреть на У при подсчёте правильно предсказанных кортежей лейблов
for experimentName in ["rubert_tiny2_multilabel"]:
    table.append({
            "experiment": experimentName+"_noY",
        })
    for fold_i in range(5):
        if not os.path.exists(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report.json".format(10))):
            continue
        with open(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report_noY.json".format(10)), "r") as f:
            report = json.load(f)
        table[-1]["fold_{}".format(fold_i)] = np.round(100*report['correct_samples_perc'], 2)
table_df = pd.DataFrame(table)
table_df["avg"] = table_df.mean(axis=1)
table_df

,experiment,fold_0,fold_1,fold_2,fold_3,fold_4,avg
0,rubert_tiny_multilabel,32.58,43.94,48.86,28.52,30.42,36.864000
1,rubert_tiny2_multilabel,77.65,68.94,79.92,67.68,47.53,68.344000
2,rubert_tiny2_multilabel_useY,85.23,93.56,89.77,84.03,79.85,86.488000
3,MyMultiTiny2,82.95,92.05,88.64,85.17,78.33,85.428000
4,rubert_tiny2_multilabel_noYno0,79.55,83.33,84.09,76.43,71.86,79.052000
5,MyMultiTiny2_data2,25.86,23.28,24.43,23.66,16.41,22.728000
6,MyMultiTiny2_data3,81.82,89.77,86.74,84.79,76.05,83.834000
7,MyMultiTiny2_data3v2,81.82,90.15,85.98,84.79,78.33,84.214000
8,MyMultiMLangBert_data3,78.79,85.98,81.44,76.05,NaN,80.565000
9,MyMultiMLangBert_data3v2,81.82,86.36,NaN,NaN,63.88,77.353333
10,MyMultiTiny2_data4,82.20,89.39,85.61,84.41,78.71,84.064000
11,MyMultiTiny2_weightbalance_data4,82.58,90.15,87.50,85.17,78.33,84.746000
12,rubert_tiny2_multilabel_noY,78.41,68.94,79.92,67.68,49.43,68.876000

In [9]:
# Using Rule to exclude impossible combinations and chose most probable variants
table = []
for experimentName in ["rubert_tiny2_multilabel", "MyMultiTiny2", "MyMultiTiny2_data2",  "MyMultiTiny2_data3",
                       "MyMultiTiny2_data3v2", "MyMultiMLangBert_data3", "MyMultiMLangBert_data3v2", 
                       "MyMultiTiny2_data4", "MyMultiTiny2_weightbalance_data4"]:
    table.append({
            "experiment": experimentName,
        })
    for fold_i in range(5):
        if not os.path.exists(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report_rule.json".format(10))):
            continue
        with open(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report_rule.json".format(10)), "r") as f:
            report = json.load(f)
        table[-1]["fold_{}".format(fold_i)] = np.round(100*report['correct_samples_perc'], 2)
table_df = pd.DataFrame(table)
table_df["avg"] = table_df.mean(axis=1)
table_df

,experiment,fold_0,fold_1,fold_2,fold_3,fold_4,avg
0,rubert_tiny2_multilabel,79.17,70.08,80.68,68.44,48.67,69.4080
1,MyMultiTiny2,83.71,92.42,89.02,85.55,79.09,85.9580
2,MyMultiTiny2_data2,26.62,23.66,25.57,24.05,17.18,23.4160
3,MyMultiTiny2_data3,82.20,89.77,87.88,84.79,76.05,84.1380
4,MyMultiTiny2_data3v2,82.58,90.91,87.12,85.55,78.71,84.9740
5,MyMultiMLangBert_data3,79.17,86.36,82.58,76.43,NaN,81.1350
6,MyMultiMLangBert_data3v2,82.20,87.50,NaN,NaN,65.02,78.2400
7,MyMultiTiny2_data4,NaN,89.77,86.74,85.17,79.85,85.3825
8,MyMultiTiny2_weightbalance_data4,82.95,90.91,87.50,85.55,79.09,85.2000

In [5]:
# epoch 20
table = []
for experimentName in ["MyMultiTiny2_data3", "MyMultiTiny2_data3v2", "MyMultiMLangBert_data3", "MyMultiMLangBert_data3v2", 
                       "MyMultiTiny2_data4", "MyMultiTiny2_weightbalance_data4", "MyMultiRubert_data4"]:
    table.append({
            "experiment": experimentName,
        })
    for fold_i in range(5):
        if not os.path.exists(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report_rule.json".format(20))):
            continue
        with open(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report_rule.json".format(20)), "r") as f:
            report = json.load(f)
        table[-1]["fold_{}".format(fold_i)] = np.round(100*report['correct_samples_perc'], 2)
table_df = pd.DataFrame(table)
table_df["avg"] = table_df.mean(axis=1)
table_df

,experiment,fold_0,fold_1,fold_2,fold_3,fold_4,avg
0,MyMultiTiny2_data3,82.58,91.67,87.12,86.31,79.09,85.3540
1,MyMultiTiny2_data3v2,83.33,91.29,87.50,85.93,80.23,85.6560
2,MyMultiMLangBert_data3,82.95,89.77,87.12,80.99,NaN,85.2075
3,MyMultiMLangBert_data3v2,85.61,87.88,NaN,NaN,NaN,86.7450
4,MyMultiTiny2_data4,82.95,90.91,87.50,85.17,79.09,85.1240
5,MyMultiTiny2_weightbalance_data4,84.09,90.91,87.50,85.93,79.85,85.6560
6,MyMultiRubert_data4,NaN,90.53,NaN,NaN,NaN,90.5300

### Data v4

In [23]:
# epoch 20
table = []
for experimentName in ["MyMultiTiny2_data4"]:
    table.append({
            "experiment": experimentName,
        })
    for fold_i in range(5):
        if not os.path.exists(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report_rule.json".format(20))):
            continue
        with open(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report_rule.json".format(20)), "r") as f:
            report = json.load(f)
        table[-1]["fold_{}".format(fold_i)] = np.round(100*report['correct_samples_perc'], 2)
table_df = pd.DataFrame(table)
table_df["avg"] = table_df.mean(axis=1)
table_df

/tmp/ipykernel_28276/1145438567.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  table_df["avg"] = table_df.mean(axis=1)

           experiment  fold_0  fold_1  fold_2  fold_3  fold_4     avg
0  MyMultiTiny2_data4   82.95   90.91    87.5   85.17   79.09  85.124